body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fce4ec; /* Rosa claro */
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

#intro-screen, #main-screen {
    padding: 20px;
}

#intro-text p {
    font-size: 18px;
}

button {
    font-size: 16px;
    margin: 10px;
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#main-screen {
    background-color: transparent; /* Sin fondo para el contenido principal */
    overflow: hidden;
    position: relative;
}

#music-player {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Ajusta el ancho del reproductor */
    max-width: 300px; /* Establece un ancho máximo para evitar que sea demasiado grande en pantallas grandes */
    z-index: 1; /* Añade un índice z para que esté por encima del resto del contenido */
    height: 200px;
}

#flowers, #hearts {
    position: absolute;
}

.flower, .heart {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ff4081;
    border-radius: 50%;
    animation: bloom 5s infinite linear;
}

.heart {
    background-color: #e91e63;
}

@keyframes bloom {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

#heart {
    font-size: 36px;
    color: #e91e63;
    margin-top: 20px;
    animation: pulse 2s infinite alternate;
}

#message {
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    padding: 20px; /* Agregado: Añadir margen */
    max-width: 80%; /* Agregado: Limitar el ancho */
    margin: 0 auto; /* Agregado: Centrar el texto */
}

.hidden {
    display: none;
}

.char {
    margin-left: 10px; /* Ajusta el margen izquierdo entre caracteres */
}

.margen {
    margin-left: 20px; /* Ajusta el margen izquierdo entre líneas */
}

.lento {
    transition: opacity 1s; /* Ajusta el tiempo de transición según tus preferencias */
}

#tu-foto {
    width: 150px; /* Establece el ancho de la foto según tus preferencias */
    height: auto; /* Ajusta la altura automáticamente proporcional al ancho */
    margin-right: 50px; /* Agrega un margen a la derecha del reproductor */
}
